@{
    ViewBag.Title = "Homepage";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<div class="menuSearch">
    <section class="bannerHome">
        <div id="carouselControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="/">
                        <img class="d-block w-100 img-fluid" src="~/Content/Clients/dist/img/woman's fashion.png" />
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/">
                        <img class="d-block w-100 img-fluid" src="~/Content/Clients/dist/img/1.png" />
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/">
                        <img class="d-block w-100 img-fluid" src="~/Content/Clients/dist/img/2.png" />
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/">
                        <img class="d-block w-100 img-fluid" src="~/Content/Clients/dist/img/3.png" />
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/">
                        <img class="d-block w-100 img-fluid" src="~/Content/Clients/dist/img/4.png" />
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <section class="oursystem">
        <div class="container">
            <div class="row system">
                <div class="col-12 col-md-4 first">
                    <div class="systemType">
                        <div class="category-title">
                            <span class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">INTERNATIONAL BRAND</font></font></span>
                            <div class="text">
                                <a href="/product?brands=true&amp;brand=44732,44744,44731,44727,44666,44629,63567,63566,63565,63563,63562,63561,63558,63556,63553,63551,62283,62277,62273,62272,62271,62268,62258,62252,62245,47360,44743,44741,44740,44738,44737,44736,44734,44733,44728," class="btn">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Collection</font>
                                    </font>
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 second">
                    <div class="systemType">
                        <div class="category-title">
                            <span class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">DOMESTIC BRAND</font></font></span>
                            <div class="text">
                                <a href="/product?brands=true&amp;brand=44732,44744,44731,44727,44666,44629,63567,63566,63565,63563,63562,63561,63558,63556,63553,63551,62283,62277,62273,62272,62271,62268,62258,62252,62245,47360,44743,44741,44740,44738,44737,44736,44734,44733,44728," class="btn">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Collection</font>
                                    </font>
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 third">
                    <div class="systemType">
                        <div class="category-title">
                            <span class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OTHER BRANDS</font></font></span>
                            <div class="text">
                                <a href="/product?brands=true&amp;brand=44732,44744,44731,44727,44666,44629,63567,63566,63565,63563,63562,63561,63558,63556,63553,63551,62283,62277,62273,62272,62271,62268,62258,62252,62245,47360,44743,44741,44740,44738,44737,44736,44734,44733,44728," class="btn">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Collection</font>
                                    </font>
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="flash-sale-box">
        <div class="col-lg-12 col-md-12 text-lg-right text-center deal_ofthe_week">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="deal_ofthe_week_img">
                            <img src="~/Content/Clients/dist/img/theface.png" />
                        </div>
                    </div>
                    <div class="col-lg-7 text-right deal_ofthe_week_col">
                        <div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
                            <div class="section_title">
                                <h2>Deal Of The Week</h2>
                            </div>
                            <ul class="timer">
                                <li class="d-inline-flex flex-column justify-content-center align-items-center">
                                    <div id="day" class="timer_num">03</div>
                                    <div class="timer_unit">Day</div>
                                </li>
                                <li class="d-inline-flex flex-column justify-content-center align-items-center">
                                    <div id="hour" class="timer_num">15</div>
                                    <div class="timer_unit">Hours</div>
                                </li>
                                <li class="d-inline-flex flex-column justify-content-center align-items-center">
                                    <div id="minute" class="timer_num">45</div>
                                    <div class="timer_unit">Mins</div>
                                </li>
                                <li class="d-inline-flex flex-column justify-content-center align-items-center">
                                    <div id="second" class="timer_num">23</div>
                                    <div class="timer_unit">Sec</div>
                                </li>
                            </ul>
                            <div class="red_button deal_ofthe_week_button"><a href="#">shop now</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="best-seller">
        <div class="new_arrivals">
            <div class="container">
                @Html.Action("MenuArrivals", "Menu")
            </div>
        </div>
    </section>
    <section class="brandPreferred">
        <div class="row">
            <div class="col text-center" style="margin-bottom: 35px;">
                <div class="section_title new_arrivals_title">
                    <h2>FEATURE BRANDS</h2>
                </div>
            </div>
        </div>
        @Html.Action("Partial_BrandPreferred", "Brand")

    </section>
    <section class="saleCate">
        <div class="brand-sale-bottom">
            <div class="row">
                <div class="col-md-6 pb-4">
                    <a href="/">
                        <img class="icon lazyautosizes lazyloaded" data-sizes="auto" src="~/Content/Clients/dist/img/bag.png" sizes="745px" />
                    </a>
                </div>
                <div class="col-md-6 pb-4">
                    <a href="/">
                        <img class="icon lazyautosizes lazyloaded" data-sizes="auto" src="~/Content/Clients/dist/img/set.png" sizes="745px" />
                    </a>
                </div>
                <div class="col-md-6 pb-4">
                    <a href="/">
                        <img class="icon lazyautosizes lazyloaded" data-sizes="auto" src="~/Content/Clients/dist/img/bikini.png" sizes="745px" />
                    </a>
                </div>
                <div class="col-md-6 pb-4">
                    <a href="/">
                        <img class="icon lazyautosizes lazyloaded" data-sizes="auto" src="~/Content/Clients/dist/img/flower.png" sizes="745px" />
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="banner_ft_Home">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12 pr-md-0 d-none d-md-block">
                    <div class="img_bn" style=" height: 390px;">
                        <a href="/">
                            <img class="icon lazyautosizes ls-is-cached lazyloaded" data-sizes="auto" src="https://pos.nvncdn.com/dca44c-69300/bn/20211118_C0w3ZkQWCBJOahpsMFW33dRa.jpeg" data-src="https://pos.nvncdn.com/dca44c-69300/bn/20211118_C0w3ZkQWCBJOahpsMFW33dRa.jpeg" sizes="555px">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-12 pl-md-0">
                    <div class="right_bn">
                        <h13>CLEAN UP YOUR WARDROBE AND MAKE MONEY!</h13><br />
                        <h13 class="mt-1">You just need to pack your things, Ciara will take care of the rest.</h13>
                        <div class="btn-container">
                            <a href="/chinh-sach-thanh-ly-ky-gui-n63268.html" class="btn bn_see_more mt-4 text-center">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">See more</font></font>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Action("Partial_News_Home", "News")
    <section class="policy_index">
        <div class="container">
            <div class="row list_item_policy">
                <div class="col-md-4 col-12 align-self-center">
                    <div class="policy_item">
                        <div class="row">
                            <div class="col-3 d-flex justify-content-center align-items-center pr-0">
                                <img src="https://web.nvnstatic.net/tp/T0322/img/temp/image_3.png?v=8">
                            </div>
                            <div class="col-9 pl-0 align-self-center">
                                <p>Free nationwide shipping on orders over 400,000 VND</p>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="col-md-4 col-12 align-self-center">
                    <div class="policy_item">
                        <div class="row">
                            <div class="col-3 d-flex justify-content-center align-items-center pr-0">
                                <img src="https://web.nvnstatic.net/tp/T0322/img/temp/image_1.png?v=8">
                            </div>
                            <div class="col-9 pl-0 align-self-center">
                                <p>Returns & exchanges after receiving the order</p>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="col-md-4 col-12 align-self-center">
                    <div class="policy_item">
                        <div class="row">
                            <div class="col-3 d-flex justify-content-center align-items-center pr-0">
                                <img src="https://web.nvnstatic.net/tp/T0322/img/temp/image_2.png?v=8">
                            </div>
                            <div class="col-9 pl-0 align-self-center">
                                <p>Save 70% off the original price</p>
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </section>
        

        @Html.Action("Index", "Chat")
  
        @Html.Action("AskTinyLlama", "Home")

    

    @section scripts {

    }
</div>


