@model PagedList.PagedList<ConsignmentWebsite.Models.EF.Post>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "FEATURE ARTICLES";
}
<!-- Slider -->
<style>
    .entry-title {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 1.4;
    }
    
</style>
<div class="container news_section_container" style="margin-top:170px;">
    <div class="archive-content-wrapper">
        <div class="heading-title text-center">
            <h2>@ViewBag.Title</h2>
        </div>

        <div class="post-list-wrapper">
            <div class="post-list grid layout-1">
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <div class="item" style="margin-bottom:15px;">
                            <div class="post-list-item">
                                <div class="item-image post-image">
                                    <a href="post/@item.Title/@item.Id" title="@item.Title" style="background-image: url(@item.Image);text-transform: uppercase; color: #000;">
                                        <img src="@item.Image" alt="@item.Title" style="width: 100%; height: 100%;" />
                                    </a>
                                </div>
                                <div class="item-content">
                                    <div class="inner-content text-center">
                                        <div class="entry-date" style="text-transform:uppercase;">@item.CreatedDate.ToString("MMMM dd, yyyy")</div>
                                        <h4 class="entry-title">
                                            <a href="post/@item.Title/@item.Id" title="@item.Title" style="color: #000;">
                                                <span>@item.Title</span>
                                            </a>
                                        </h4>
                                        <div class="entry-excerpt">
                                            <p class="margin-bottom0">@item.Description</p>
                                        </div>
                                        <div class="action-btn-more uppercase">
                                            <a href="post/@item.Title/@item.Id" title="@item.Title" style="border-bottom: 1px solid darkgreen;">
                                                <span>SEE MORE</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6" style="text-align:right;">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>


</div>
@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script src="~/Scripts/jsShopping.js"></script>
}
