@model IEnumerable<ConsignmentWebsite.Models.EF.Product>

<style>
    .image-wrapper {
        position: relative;
    }

        .image-wrapper.out-of-stock img {
            opacity: 0.4;
            filter: grayscale(30%);
        }

    .overlay-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
        z-index: 10;
        pointer-events: none;
    }
</style>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        var strImge = "";
        var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
        if (img != null)
        {
            strImge = img.Image;
        }
        <div class="product-item @item.ProductCategory.Title">
            <div class="product discount product_filter">
                <div class="product_image image-wrapper @(item.Quantity == 0 ? "out-of-stock" : "")">
                    <img src="@strImge" alt="@item.Title">
                    @if (item.Quantity == 0)
                    {
                        <div class="overlay-text">SOLD</div>
                    }
                </div>
                <div class="favorite favorite_left"></div>
                @if (item.PriceSale > 0)
                {
                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>

                }
                <div class="product_info">
                    <h6 class="product_name"><a href="/Detail/@item.Title/@item.Id">@item.Title</a></h6>
                    @if (item.PriceSale > 0)
                    {
                        <div class="product_price">@ConsignmentWebsite.Common.Common.FormatNumber(item.PriceSale, 0)</div>
                    }
                    else
                    {
                        <div class="product_price">@ConsignmentWebsite.Common.Common.FormatNumber(item.Price, 0)<span>@ConsignmentWebsite.Common.Common.FormatNumber(item.OriginalPrice, 0)</span></div>
                    }
                </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="/Collection" class="btnAddToCart" data-id="@item.Id">Add to cart</a></div>
        </div>
    }
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btnAddToCart").click(function (e) {
            e.preventDefault();
            var id = $(this).data("id");

            $.ajax({
                url: '/ShoppingCart/AddToCart',
                type: 'POST',
                data: { id: id, quantity: 1 },
                success: function (response) {
                    window.location.href = '/Collection';
                },
                error: function () {
                    alert("An error occurred while adding to cart!!");
                }
            });
        });
    });
</script>
